/* Main */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

/* Navegacion */
.navbar .navbar-brand {
    margin-left: 20px; 
    color: white;
}

.navbar-nav .nav-link {
    margin-right: 20px; 
    color: white;
    padding: 8px 12px; 
}

.navbar-nav .nav-link:hover {
    font-weight: bold;
}

.bg-translucent-black {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6px); 
}

/* Menu hamburguesa */
.collapse.show {
    padding: 10px; 
}

/* Imagen de fondo */
.background-image {
    background: url('../assets/img/burgerwallpaper2.jpg') no-repeat center center/cover;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.background-menuburger {
    background: url('../assets/img/menuwallpaper2.jpg') no-repeat center center/cover;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.background-equipoburger {
    background: url('../assets/img/equipowallpaper.jpg') no-repeat center center/cover;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.background-servicios {
    background: url('../assets/img/servicioswallpaper.jpg') no-repeat center center/cover;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.background-contacto {
    background: url('../assets/img/contactowallpaper.jpg') no-repeat center center/cover;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.background-image .overlay {
    background-color: rgba(0, 0, 0, 0.4); 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background-image h1 {
    font-size: 4rem;
    font-weight: bold;;
    margin-bottom: 10px;
    text-shadow: #000000 3px 3px 5px;
}

.background-image p {
    font-size: 2rem;
    margin: 0;
    text-shadow: #000000 3px 3px 5px;
}

/* Botón "Hace tu pedido" */
.background-image .btn {
    background-color: #ff0000; 
    color: #ffffff; 
    font-size: 1rem; 
    font-weight: bold; 
    border-radius: 25px; 
    padding: 10px 20px; 
    margin-top: auto;
    transition: transform 0.3s ease; 
    box-shadow: 0 3px 5px rgba(0, 0, 0, 1); 
}

.background-image .btn:hover {
    transform: scale(1.05); 
}

/* Welcome */
.welcome-title {
    color: #333;
}

.welcome-text {
    color: #555; 
}

/* Informacion */
.info-box {
    background-color: #ffffff; 
    border-radius: 10px; 
    padding: 20px; 
    text-align: center; 
}

.info-title {
    font-size: 1.5rem; 
    font-weight: bold; 
    color: #333; 
}

.info-text {
    font-size: 1rem; 
    color: #555; 
    line-height: 1.6; 
}

.info-title::before {
    content: attr(data-icon); 
    font-size: 1.8rem; 
    margin-right: 8px; 
}

/* Menu de hamburguesas */
.menu-catalog {
    margin-top: 40px; 
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: auto; 
    max-height: 200px; 
    object-fit: contain; 
}

.card-price {
    font-size: 1.2rem;
    color: rgb(1, 141, 1);
    font-weight: bold;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.card-text {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

/* Equipo */
.team-img {
    width: 150px;
    height: 150px;
}

.join-team {
    padding: 20px;
    border-radius: 10px;
}

.join-team h2 {
    font-size: 2rem;
    color: #333;
}

.join-team p {
    font-size: 1.2rem;
    color: #555;
}

.join-team .btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    color: white;
}


