// =======================
// Página: Servicios
// =======================

@use 'variables' as *;
@use 'mixins' as *;
@use 'globals' as *;

.background-servicios {
    @include background-img('../assets/img/servicioswallpaper.jpg');
}
.service-img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
    @include card-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
    margin: 20px;
}
.services {
    h3 {
        font-size: 1.5rem;
        @extend %title-style;
        margin-top: 15px;
    }
    p {
        @extend %text-style;
    }
}
.benefit-card {
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 10px;
    margin-bottom: 10px; 
        &:hover {
        transform: scale(1.01);
        box-shadow: 0 8px 16px rgba(0,0,0,0.15);
    }
}

.benefit-title {
    font-size: 1.5rem;
    @extend %title-style;
    margin-bottom: 10px;
}
.benefit-text {
    @extend %text-style;
}
